body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7omWPhgXsXoPaw_DL8CkrQPqLFFjLuUN6VQ&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}